node_modules
.env
.env.local
.env.production.local

/src/generated/prisma

.next/
out/
build/
dist/

null

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
*.pem

.idea/
.vscode/
*.swp
*.swo

coverage/
.nyc_output/

*.tsbuildinfo
